# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Environnements virtuels
venv/
.venv/
env/

# =========================
# Outils
# =========================
.vscode/
.pytest_cache/

# =========================
# Journaux
# =========================
*.log

# =========================
# Archives générées
# =========================
*.zip
versions_de_EET/

# Fichiers système
.DS_Store
Thumbs.db
Desktop.ini

# Tests Python
.coverage
htmlcov/

# Environnements Python
.python-version

# Outils personnels
ssh_console_ovh.bat

# Configurations locales éventuelles
*.code-workspace

# Flask session
flask_session/

# Calculs EET persistés
calculs/*.json
calculs/*.tmp

# Exports générés
document.json

# Fichiers de test HTTP
tests/cookies.txt

# Artefacts accidentels PowerShell
-Method
Invoke-RestMethod

# Documentation interne
documentation/Architecture_serveur_EET_Calculator.docx
documentation/Deploiement_EET_Ubuntu_Debian_v1.01.docx
documentation/EEP_v1.0_Normative_Specification_Draft.docx
documentation/EET_Checklist_Securite.docx
documentation/EET_Prerequis_Deploiement.docx
documentation/EET_Reverse_Proxy_Nginx.docx
documentation/Memo_Git_EET_Calculator.docx
documentation/MÉMO_EET_commandes_ubuntu.docx
documentation/MÉMO_EET_commandes_windows.docx
documentation/Server_Administration.md
documentation/Specification_Architecture_EET_Calculator_v1.docx
documentation/VPS_Commandes_Securite.docx
documentation/VPS_Commandes_Trafic.docx
documentation/VPS_Installation.txt

#fichiers locaux
maintenance.html
makezip_sauvegarde.bat
ressources_sauvegarde.lst
README_SERVER.md
documentation/*.bat
build_document.bat
Test*.bat
test_api*.ps1
*.json
tuto_git.md
opt
