# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo

# Environnements virtuels
venv/
.venv/
env/

# =========================
# Outils
# =========================
.vscode/
.pytest_cache/

# =========================
# Journaux
# =========================
*.log

# =========================
# Archives générées
# =========================
*.zip
versions_de_EET/

# Fichiers système
.DS_Store
Thumbs.db
Desktop.ini

# Tests Python
.coverage
htmlcov/

# Environnements Python
.python-version

# Outils personnels
ssh_console_ovh.bat

# Configurations locales éventuelles
*.code-workspace

# Flask session
flask_session/

# Calculs EET persistés
calculs/*.json
calculs/*.tmp

# Exports générés
document.json

# Fichiers de test HTTP
tests/cookies.txt

# Artefacts accidentels PowerShell
-Method
Invoke-RestMethod
